h1 {
  font-style: bold;
  color: red;
  font-family: 'Sofia';
  font-size: 22px;
}
p {
  border: 1px solid black;
}
.page-content {
  background-color: red;
}
#unique-p-tag {
  background-color: blue;
}
