h1 {
  font-style: bold;
  color: crimson;
  font-family: 'Sofia';
  font-size: 22px;
}

p {
  text-align: left;
  color: white;
  -webkit-test-stroke: 1px black;
}
#nav {
  background-color: gray;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

#nav li {
  display: inline;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

body {
  background-color: #bfbfbf;
}
